.header {
  display: flex;
  flex-direction: row;
  margin: $pad-xl;

  &__title {
    flex: 1 0;
    font-size: $fs-xxl;
    white-space: nowrap;

    &__link {
      @include reset_a;
      @include animate-underline;
    }
  }

  &__menu {
    display: flex;
    flex: 0 0;
    flex-direction: row;

    &__about {
      @include reset_a;
      cursor: pointer;
      font-size: $fs-xl;
      margin-right: $pad-l;
      color: $col-light;

      &:hover {
        color: $col-dark;
      }
    }

    &__search {
      display: flex;
      flex-direction: row;

      &__icon {
        cursor: pointer;
        font-size: $fs-xl;
        margin-right: $pad-m;
        color: $col-light;

        &:hover {
          color: $col-dark;
        }
      }

      &.open > &__icon {
        color: $col-dark;
      }

      &__form {
        transition: width 0.2s ease 0s;
        overflow: hidden;
        position: relative;

        input {
          position: absolute;
          bottom: 0;
          font-size: $fs-m;
          border-bottom: 1px dotted $col-lighter;
          font-family: $font-primary;
          color: $col-darker;
        }
      }

      &:not(.open) > &__form {
        width: 0px;
      }

      &.open > &__form {
        width: 150px;
      }
    }
  }

  @media (max-width: $bp-sm) {
    flex-direction: column;

    &__title {
      flex: 1;
      text-align: center;
      margin-bottom: $pad-m;
    }

    &__menu {
      flex: 1;
      align-self: center;
    }
  }
}

// Input //
::-webkit-input-placeholder {
  color: $col-light;
}

