.post-list {
  margin: 0 $pad-xl;

  &__header {
    display: block;
    margin: $pad-xxl 0;

    &__link {
      @include animate-underline;
      @include reset_a;
      font-size: $fs-xxl;
      font-weight: bold;

      &__icon {
        display: inline;
        padding-left: $pad-m;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    line-height: 1.5;

    &__list-item {
      margin-bottom: $pad-m;
    }
  }
}

.post-list-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  &__title {
    &::before {
      content: '‣';
      margin-right: $pad-l;
    }

    @include reset_a;
    @include animate-underline;
    font-size: $fs-xl;
    cursor: pointer;
    margin-right: $pad-m;
  }

  &__sub {
    font-size: $fs-m;
    color: $col-darker;
    display: flex;
    flex-direction: row;

    &__date {
      margin-right: $pad-s;
    }

    &__draft {
    }
  }
}
