<div class="post">
  <div class="post__header">
    <div class="post__header__title"><%= meta.title %></div>
    <a
      class="post__header__date-and-source" target="_blank" title="source"
      href="<%= 'https://github.com/hi-ogawa/blog/tree/master/src' + meta.link.replace('.html', '.md') %>"
    >
      Created at <%= meta.date %>
      <div class="post__header__date-and-source__source">
        <i class="fa fa-github"></i>
      </div>
    </a>
  </div>
  <div class="post__body">
    <div class="markdown-content">
      <%= mdHtml %>
    </div>
  </div>
</div>
