// Reset UA //

// Mixin //

// Global variable //

// padding
$pad_s: 0.5rem;
$pad_m: 1rem;
$pad_l: 1.5rem;

// font size
$fs_xs: 1.2rem;
$fs_s:  1.4rem;
$fs_m:  1.6rem;
$fs_l:  1.8rem;

// color
$col-dark:     #292b2c;
$col-darker:   #464a4c;
$col-light:    #636c72;
$col-lighter:  #eceeef;
$col-lightest: #f7f7f9;

