// Base //
* {
  box-sizing: border-box;
}

html {
  font-size: 0.625em;
  height: 100%;
}

// Global variable //

// font
$font-primary: 'Helvetica', 'Arial', sans-serif;

// padding
$pad_s:  0.5rem;
$pad_m:  1rem;
$pad_l:  1.5rem;

// font size
$fs_xs:  1.2rem;
$fs_s:   1.4rem;
$fs_m:   1.6rem;
$fs_l:   1.8rem;
$fs_xl:  2.0rem;

// color
$col-dark:     #292b2c;
$col-darker:   #464a4c;
$col-light:    #636c72;
$col-lighter:  #e2e2e2;
$col-lightest: #f7f7f9;

// breakpoint
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;

// app specific
$page-width: 1000px;

// Mixin //
@mixin reset_a {
  color: initial;
  text-decoration: none;
}
