body {
  background-color: $col-lightest;
  font-family: $font-primary;
  font-size: $fs_m;
  height: 100%;
}

#indexPage, #postPage {
  height: 100%;

  #headerWrapper {
    #header {
      margin: 0 auto;
      max-width: $page-width;
    }
    border-bottom: 1px solid $col-lighter;
  }

  #postList, #postContent {
    margin: 0 auto;
    max-width: $page-width;
  }
}
